.avatar {
  position: unset;
  display: inline-block;
  width: 300px;
  height: 300px;
  overflow: hidden;
  font-size: 2.4rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #9e9e9e;
  border-radius: 50%;
  background-position: 100, 100;

  animation-name: social-media;
  animation-duration: 1s;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 12px;
  border-radius: 6px;
  display: flex;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.social-media-buttons {
  justify-content: center;
  top: 25px;
  display: flex;
  flex-direction: row;
  position: relative;
  animation-name: social-media;
  animation-duration: 2s;

  .social-media-twitter {
    background-color: #1B95E0 !important;
    top: 30px;
    span {
      line-height: 60px !important;
      svg {
          fill: white; 
        }
      }
    }

  .social-media-facebook {
    background-color: #365899 !important;
    span {
      line-height: 60px !important;
      svg {
          fill: white; 
        }
      }
    }

  .social-media-linkedIn {
    background-color:#0077B5 !important;
    span {
      line-height: 60px !important;
      svg {
          fill: white; 
        }
      }
    }

  .social-media-gitHub {
    background-color: white !important;
    top: 30px;
    span {
      line-height: 60px !important;
      svg {
        fill: black; 
      }
    }
  }
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-me-button {
  background: #303f9f !important;
  color: white !important;
  animation-name: contact-button;
  animation-duration: 2s;
}

// COME BACK AND FIX
@media screen and (max-width: 768px) {
  .contact-me { /* every section without class - but won't select Section C */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contact-me-button-action {
  font-family: 'Permanent Marker', sans-serif;
  background: white;
  color: black !important;
  bottom: 20px;
  right: 4px;
}


.contact-me-dialog {
  font-family: 'Boogaloo', sans-serif;
  width: 400px !important;
  height: 340px !important;

  .text {
    font-family: 'Boogaloo', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding: 10px;
  }
  
}

.paragraph {
  margin-top: 35px;
  padding-top: 50px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  animation-name: paragraph;
  animation-duration: 2s
}

.column-wrapper {
  display: flex;
}

.column-one {
  padding: 30px;
  animation-name: experiences;
  animation-duration: 3s;
}

.column-two {
  padding: 30px;
  animation-name: experiences;
  animation-duration: 2s;
}

.container container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  // top: 0;
  // left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container input:checked ~ .checkmark {
  background-color: #303f9f;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-label {
  padding-left: 34px;
}


@keyframes paragraph {
  from { transform: translateX(-3000px)}
  to { transform: translateX(0)}
}

@keyframes social-media {
  from { transform: translateY(-2000px)}
  to { transform: translateY(0)}
}

@keyframes experiences {
  from { transform: translateX(-3000px)}
  to { transform: translateX(0)}
}

@keyframes contact-button {
  from { transform: translateX(-4000px)}
  to { transform: translateX(0)}
}