.avatar {
  position: unset;
  display: inline-block;
  width: 200px;
  height: 200px;
  overflow: hidden;
  font-size: 2.4rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #9e9e9e;
  border-radius: 50%;
}

.social-media-buttons {
  justify-content: center;
  top: 25px;
  display: flex;
  flex-direction: row;
  position: relative;

  .social-media-twitter {
    background-color: #1B95E0 !important;
    top: 30px;
    span {
      line-height: 60px !important;
      svg {
          fill: white; 
        }
      }
    }

  .social-media-facebook {
    background-color: #365899 !important;
    span {
      line-height: 60px !important;
      svg {
          fill: white; 
        }
      }
    }

  .social-media-linkedIn {
    background-color:#0077B5 !important;
    span {
      line-height: 60px !important;
      svg {
          fill: white; 
        }
      }
    }

  .social-media-gitHub {
    background-color: white !important;
    top: 30px;
    span {
      line-height: 60px !important;
      svg {
        fill: black; 
      }
    }
  }
}

.paragraph {
  padding: 12px;
  display: flex;
  justify-content: center;
  padding-top: 42px;
}