.cardWrapper {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  .university {
    background-color: #e20613;
    width: 50%;
    height: 350px;
    display: flex;
    .title {
      font-size: 24px;
      font-weight: bold;
      display: flex;
      justify-content: left;
      padding-left: 20px;
      padding-top: 20px;
    }
    .university {
      padding: 15px;
      background-color: white;
      width: 150px;
      height: 80px;
    }
    .cardText {
      color: white;
    }
  }
  .contactPartners {
    background-color: #a078a5;
    width: 50%;
    height: 350px;
    display: flex;
    justify-content: centre;

    .title {
      font-size: 24px;
      font-weight: bold;
      display: flex;
      justify-content: left;
      padding-left: 20px;
      padding-top: 20px;
    }

    .cardText {
      background: #2d0f41;
      padding: 12px;
      color: white;
    }

    .contactPartners-social-media-buttons {
      justify-content: center;
      display: flex;
      flex-direction: column;
      position: relative;
      top: 30px;
      align-items: center;
      .contactPartners-social-media-twitter {
        background-color: #1B95E0 !important;
        margin-bottom: 10px;
        span {
          line-height: 60px !important;
          svg {
              fill: white; 
            }
          }
        }

      .contactPartners-social-media-facebook {
        background-color: #365899 !important;
        span {
          line-height: 60px !important;
          svg {
              fill: white; 
            }
          }
        }

      .contactPartners-social-media-linkedIn {
        background-color:#0077B5 !important;
        margin-bottom: 10px;
        span {
          line-height: 60px !important;
          svg {
              fill: white; 
            }
          }
        }

      .contactPartners-social-media-gitHub {
        background-color: white !important;
        top: 30px;
        span {
          line-height: 60px !important;
          svg {
            fill: black; 
          }
        }
      }
    }

    .contactpartnerslogo {
      padding: 15px;
      background-color: whitesmoke;
    }
  }
}

@media screen and (max-width: 480px) {
  .cardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    .university {
      justify-content: center;
      background-color: #e20613;
      width: 50%;
      height: 300px;
      display: flex;
      .title {
        font-size: 24px;
        font-weight: bold;
        display: flex;
        justify-content: left;
        padding-left: 20px;
        padding-top: 20px;
      }
      .university {
        justify-content: center;
        padding: 15px;
        background-color: whitesmoke;
        width: 195px;
        height: 80px;
      }
    }
    .contactPartners {
      margin-top: 20px;
      background-color: #2d0f41;
      width: 50%;
      height: 300px;
      display: flex;
      justify-content: centre;

      .title {
        font-size: 24px;
        font-weight: bold;
        display: flex;
        justify-content: left;
        padding-left: 20px;
        padding-top: 20px;
      }

      .contactpartnerslogo {
        padding: 23px;
        background-color: whitesmoke;
      }
    }
  }
}