.cardWrapper {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  flex-direction: column-reverse;
  align-items: center;

  .university {
    background-color: #e20613;
    width: 50%;
    height: 100%;
    display: flex;
    margin: 1%;

    .cardText {
      background: #e20613;
      padding: 12px;
      color: white;
      .title {
        font-size: 33px;
        font-weight: bold;
        padding-left: 20px;
        border-bottom: 8px solid white;
      }
      .text {
        padding-top: 12px;
        font-size: 18px;

        .topics {
          padding: 10px;
        }
      }
    }

    .solent-social-media-buttons {
      justify-content: center;
      display: flex;
      flex-direction: column;
      position: relative;
      top: 2%;
      align-items: center;
      .solent-social-media-twitter {
        background-color: white !important;
        margin-bottom: 10px;
        span {
          line-height: 60px !important;
          svg {
              fill: #e20613;
            }
          }
        }

    .solent-social-media-linkedIn {
      background-color: white !important;
      margin-bottom: 10px;
      span {
        line-height: 60px !important;
        svg {
            fill: #e20613;
          }
        }
      }
    }

    .solentlogo {
      padding: 15px;
      background-color: white;
      width: 180px;
    }
  }
  .contactPartners {
    background-color: #a078a5;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: centre;
    margin: 1%;

    .cardText {
      background: #2d0f41;
      padding: 12px;
      color: white;
      .title {
        font-size: 33px;
        font-weight: bold;
        padding-left: 20px;
        border-bottom: 8px solid white;
      }
      .text {
        padding-top: 12px;
        font-size: 18px;
      }
    }

    .contactPartners-social-media-buttons {
      justify-content: center;
      display: flex;
      flex-direction: column;
      position: relative;
      top: 2%;
      align-items: center;
      .contactPartners-social-media-twitter {
        background-color: #1B95E0 !important;
        margin-bottom: 10px;
        span {
          line-height: 60px !important;
          svg {
              fill: white; 
            }
          }
        }

    .contactPartners-social-media-linkedIn {
      background-color:#0077B5 !important;
      margin-bottom: 10px;
      span {
        line-height: 60px !important;
        svg {
            fill: white; 
          }
        }
      }
    }

    .contactpartnerslogo {
      padding: 15px;
      background-color: whitesmoke;
    }
  }
}

@media screen and (max-width: 480px) {
  .cardWrapper {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 15px;
    .university {
      margin-top: 20px;
      width: 80%;
      height: 100%;
      display: flex;
      justify-content: centre;

      .cardText {
        background: #e20613;
        padding: 12px;
        color: white;
        .title {
          font-size: 25px;
          font-weight: bold;
          padding-left: 20px;
          border-bottom: 8px solid white;
        }
        .text {
          padding-top: 12px;
          font-size: 12px;

          .topics {
            padding: 10px;
          }
        }
      }
      .solentlogo {
        padding: 15px;
        background-color: white;
        width: 70px;
      }
    }
    .contactPartners {
      margin-top: 20px;
      width: 80%;
      height: 100%;
      display: flex;
      justify-content: centre;

      .cardText {
        background: #2d0f41;
        padding: 12px;
        color: white;
        .title {
          font-size: 25px;
          font-weight: bold;
          padding-left: 20px;
          border-bottom: 8px solid white;
        }
        .text {
          padding-top: 12px;
          font-size: 12px;
        }
      }

      .contactpartnerslogo {
        background-color: whitesmoke;
        width: 70px;
      }
    }
  }
}