.images {
	display: flex;
	justify-content: center;
	padding-top: 2%;

	.row-one {
		display: inline-flex;
	}

	.row-two {
		display: inline-flex;
	}

	.container {
		position: relative;
		margin: 1%;
	}

	.image {
		display: block;
		width: 350px;
		height: 350px;
	}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
    height: 100%;
		opacity: 0;
		transition: .5s ease;
		background-color: black;
	}

	.container:hover .overlay {
		opacity: 0.8;
	}

	.header {
		color: white;
		font-size: 32px;
		position: absolute;
		top: 20%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
	}

	.text {
		color: white;
		font-size: 22px;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
		width: 80%;
	}

	.text-long {
		color: white;
		font-size: 22px;
		position: absolute;
		top: 60%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
		width: 80%;
	}

	.text-longer {
		color: white;
		font-size: 19px;
		position: absolute;
		top: 60%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
		width: 80%;
	}

	.text-longest {
		color: white;
		font-size: 18px;
		position: absolute;
		top: 60%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
		width: 80%;
	}

}

@media screen and (max-width: 768px) {
	.images {
		display: flex;
		justify-content: center;
		padding-top: 2%;

		.row-one {
			display: flex;
    	flex-direction: column;
		}

		.row-two {
			display: flex;
			flex-direction: column;
		}

		.container {
			position: relative;
			margin: 1%;
		}

		.image {
			display: block;
			width: 200px;
			height: 200px;
		}

		.overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: .5s ease;
			background-color: black;
		}

		.container:hover .overlay {
			opacity: 0.8;
		}

		.header {
			color: white;
			font-size: 16px;
			position: absolute;
			top: 20%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			text-align: center;
		}

		.text {
			color: white;
			font-size: 14px;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			text-align: center;
			width: 80%;
		}

		.text-long {
			color: white;
			font-size: 12px;
			position: absolute;
			top: 60%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			text-align: center;
			width: 80%;
		}

		.text-longer {
			color: white;
			font-size: 11px;
			position: absolute;
			top: 60%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			text-align: center;
			width: 80%;
		}

		.text-longest {
			color: white;
			font-size: 10px;
			position: absolute;
			top: 60%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			text-align: center;
			width: 80%;
		}
	}
}