.images {
    display: flex;
    justify-content: center;
    .mcloud {
        width: 300px;
        height: 200px;
    }
    .tikki {
        width: 300px;
        height: 200px;
    }
    .fable {
        width: 300px;
        height: 200px;
    }
    .cow {
        width: 300px;
        height: 200px;
    }
}